<div class="grid grid-cols-3 gap-4 text-blue-200">
  <div class="bg-gray-800 bg-opacity-75 p-3 rounded col-span-2 border-2 border-black">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
  </div>
  <div class="bg-gray-800 bg-opacity-75 p-3 rounded border-2 border-black">2</div>
  <div class="bg-gray-800 bg-opacity-75 p-3 rounded border-2 border-black row-span-2">3</div>
  <div class="bg-gray-800 bg-opacity-75 p-3 rounded border-2 border-black">4</div>
  <div class="bg-gray-800 bg-opacity-75 p-3 rounded border-2 border-black">5</div>
  <div class="bg-gray-800 bg-opacity-75 p-3 rounded border-2 border-black">6</div>
  <div class="bg-gray-800 bg-opacity-75 p-3 rounded border-2 border-black">7</div>
  <div class="bg-gray-800 bg-opacity-75 p-3 rounded border-2 border-black col-span-3 text-center space-x-4">
    <button class="btn btn-blue" alt="SAVE" title="SAVE">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
      </svg>
    </button>
    <button class="btn btn-blue" alt="LOAD" title="LOAD">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10" />
      </svg>
    </button>
  </div>
</div>
